
header h1{
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div#intro p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}